.intro .intro-body .brand-heading {
    font-size: 45px;
    color: crimson;
    opacity: 1.0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
    margin-top: 30px;
}

.intro .intro-body .intro-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-circle {
    color: white;
    height: 60px;
    width: 60px;
    border: 2px solid crimson;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 100%;
    font-size: 33px;
}

.btn-circle:hover {
    background-color: crimson;
}

.intro .intro-body {
    background: rgba(0, 0, 0, .65);
}

.intro {
    margin-top: 18%;
}

@media(max-width:768px) {
    .intro {
        position:relative;
        margin-top: 0px;
        color: white;
        text-shadow:none;
        padding:0;
    }

    .intro .intro-body .intro-text,
    .intro .intro-body .brand-heading {
     text-shadow: none;
    }

    .intro .intro-body .intro-text{
        font-size: 1.2em;
        margin-bottom: 10%;
    }
    
    .intro .intro-body {
        background: black;
    }

    .intro .intro-body .brand-heading {
        font-size: 2.2em;
    }

    .btn{
        display:none;

    }

    .panel0-container{
        margin-top: 50px;
    }
    .overlay {
    	position:relative !important;
    	top:5px !important;
    	bottom:10px !important;
    	overflow:auto;
      width: 100%;
    }
    .overlay-inner {
    	display: inline-block !important;
    	width:100%;
    	height:100%;
      margin: 0 auto !important;
    }
    .overlay-content {
      width: 100%;
    	display:inline-block !important;
    	vertical-align: middle;
    }
    .overlay-content p {
      font-size: 20px;
      width: 100% !important;
      color: #000000;
    	margin:0 0 !important;
    	padding:10px;
      text-align: left;
    }
    .card {
      margin-left: 8.33333333%;
    }
    .col-xs-10 {
        width: 100%;
    }
}

.col-sm-7 {
    width: 75%;
}

.col-xs-10 {
    width: 80%;
}

#content-container {
    position: relative;
}

.col-xs-offset-1 {
    margin-left: 10%;
    margin-right: 10%;
}

.full-image {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}

.full-image.third {
    float: left;
    width: 33.33333333%;
    position: relative;
    margin-top: 10px;
}

.full-image.third.left {
    padding-right: 6.6666666666px;
}

.full-image.third.middle {
    padding-left: 3.333333333px;
    padding-right: 3.333333333px;
}

.full-image.third.right {
    padding-left: 6.6666666666px;
}

.full-image.half {
    float: left;
    width: 50%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 25px;
}

.full-image.half.left {
    padding-right: 5px;
}

.full-image.half.right {
    padding-left: 5px;
}

.full-image.bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-image img,
.full-image video {
    width: 100%;
    float: left;
}

.caption {
    padding: 15px 0 3em 0;
    color: #888888;
    font-style: italic;
    float:left;
}

/* Image expansion */
.mfp-close {
    cursor: pointer !important;
}

.expand-image {
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

img.ajmint-unveil {
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
}

.pull {
    border-top: 5px solid crimson;
}

.pullquote {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
}

.pullsource {
    text-align: right;
    color: crimson;
    font-size: 20px;
    padding-right: 10px;
    font-style: oblique;
}

.sidebar {
    background: rgba(59, 60, 54, 1.0);
}

#sidebar-head {
    padding-top: 20px;
    padding-left: 14px;
    color: crimson;
    font-size: 28px;
}

#byline {
    padding-top: 7px;
    color: white;
    font-size: 18px;
    padding-left: 14px;
}

#sidebar-body {
    color: white;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 14px;
}

.image-gallery img {
  padding: 10px 0;
  width:100%;
	height:auto;
  opacity: 0.4;
  filter: alpha(opacity=30);
  z-index: 100;
  position: relative;
  float: left;
}
.image-gallery img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.overlay {
	position:absolute;
	top:5px;
	left:0;
	right:0;
	bottom:10px;
	overflow:auto;
}
.overlay-inner {
	display:table;
	width:100%;
	height:100%;
}
.overlay-content {
	display:table-cell;
	vertical-align:middle;
}
.overlay-content p {
  font-size: 20px;
  color: #000000;
    margin:0 70px;
	padding:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.center {
  text-align: center;
}

@media(min-width: 768px) {
    .image-gallery .col-xs-10 {
        width: 40%;
    }
}